<h1 class="left-10">Add a task to <%= @task_list.name %></h1>
<div id="no_task">
<% if flash[:notice] %>
  <%= flash[:notice] %><br><br>
<% end %>
</div>
<%= form_for [@task_list, @task] do |f| %>
  <div>
    <div><%= f.label :description, class: 'my_label' %></div>
    <div ><%= f.text_field :description, { :class => 'my_textfield'  } %>
    <span class="error"><%= @task.errors.messages[:description].first %></span></div>
  </div>
  <%= f.label :due_date, "Due Date", class: 'my_label' %><br>

  <div class="left-10">
    <%= f.date_select :due_date %><br><br>
  </div>
  <%= f.label :assigned_to, "Assigned to", class: 'my_label' %><br>

  <div class="left-10">
    <%= f.collection_select :assigned_to, @users, :name, :name, {include_blank: true} %><br><br>
  </div>
  <div>
    <%= f.submit "Create Task", { :class => "my_button" } %>
  </div>

<% end %>