<%= form_for task_list do |f| %>
  <div>
    <div><%= f.label "Title", { :class => 'my_label' } %></div><br>
    <div ><%= f.text_field :name, { :class => 'my_textfield' } %>
      <p class="error" id="task_list_message" ><%= task_list.errors.messages[:name].first %></p>
    </div><br>
  </div>
  <div>
    <%= f.submit message,{ :class => "my_button" }%>
  </div>
<% end %>
