<h1><%= @task_list.name %> - Completed</h1>

<% @task_list.tasks.sort_by {|task| task.due_date }.each do |task| %>
  <% if task.completed %>
    <div class="tasks">
      <div id="task-<%= task.id%>" class="left-10 pad-top-12">
        <%= task.description  %>
        (<%= (task.due_date - Date.today).to_i %> days)
        <%= link_to "Delete", [@task_list, task],{ :method => :delete, :confirm => "Really?", :class => "delete_button"} %>
      </div>
    </div>
  <% end %>
<% end %>



