<h1 style="margin-left: 5%;text-align:left;float:left;">My Lists </h1>
  <br><br>
  <%= link_to "+ Add Task List", new_task_list_path, {:style => 'float:left; margin-left: 2%;' } %>
<br style="clear:both;"/>
<p id="task_created">
  <% if flash[:notice] %>

    <br>
    <%= flash[:notice] %><br>
    <br>

  <% end %>
</p>
<% @task_lists.each do |task_list| %>
  <section class="task-list" id="task-list-<%= task_list.id %>" >
      <h2 class="item" style="margin-left: 5%;text-align:left;float:left;width: 30%;"><%= link_to task_list.name, task_list_path(task_list.id), {:style => 'color: black;text-decoration: none;'} %></h2><br><br>
    <%= link_to "Delete", task_list, {:method => :delete, :confirm => "Really?", :style => 'margin-left: 15%; width:10%; float:left;' } %>
    <%= link_to "Edit", edit_task_list_path(task_list.id), {:style => 'width:10%; float:left;' } %>
    <%= link_to "+ Add New Task", new_task_list_task_path(task_list.id), {:style => 'float:left;' } %>
    <br style="clear:both;">
    <% if task_list.tasks.length == 0 %>
      <div class="tasks" >
        <div style="text-align: center; padding-top: 12px;">
          "Nothing here to see!"
        </div>

      </div>
    <% end %>
    <% task_list.tasks.sort_by {|task| task.due_date }.each do |task| %>
      <% unless task.completed %>
      <div class="tasks">
        <div id="task-<%= task.id%>" class="left-10 pad-top-12">
          <%= task.description  %>
          (<%= (task.due_date - Date.today).to_i %> days) -
          <b><%= task.assigned_to %></b>
          <!-- example delete link from stack overflow -->
          <%#= link_to "delete", article_comment_path(@article, comment_item),
                      :method => :delete, :confirm => "Really?" %>

          <%= link_to "Delete", [task_list, task],{ :method => :delete, :confirm => "Really?", :class => "delete_button"} %>
          <%= link_to "Completed", [task_list, task], {:method => :patch, :class => "completed_button"} %>
        </div>
      </div>
        <% end %>
    <% end %>
  </section>
  <br style="clear:both;"/>

<% end %>

<!--* Cannot create a task in the past-->
<!--* Edit Task List form has validations-->
<!--* The current_user can view tasks that have been assigned to them-->
<!--* The About page should have it's own controller, which inherits from Active Record-->
<!--* Display the about page without using before_action_skip-->
<!--* Add a search box to search through tasks for specific words-->
<!--* Add a filter with two calendars to filter tasks by due date-->
<!--* Calendars should be done by picking date from calendar, not multiple drop down selects-->
<!--* Use the same form for Edit and New Task Lists (DRY)-->
<!--* Redo routes with resources-->
<!--* Only use the default resource methods (no `complete` method in your controller!)-->
<!--* When a form has errors, place the appropriate error messages next to the corresponding form input-->
<!--* Drop down for assigning tasks to users should not have a default user (i.e. default is none)-->
<!--* Give error message if a user is not picked-->
<!--* Should be able to assign tasks for up to four users-->
<!--* i.e. Four dropdowns with default to blank. Error if at least one name isn't picked.-->
<!--* As current_user, I should be able to view tasks that I've created.-->